<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Create project</title>
</head>
<body>

<h1>Create project</h1>
<form action="/project-created" method="post">
    <input type="hidden" name="id" th:value="${projectID}">
    <label>Title: <input name="title" autofocus></label><br>
    <button type="submit">Save new project</button>
</form>
<a th:href="@{'/project/' + ${projectID}}"><button>Return to project</button></a>

</body>
</html>