<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title>Create subtask</title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1>Create subtask</h1>
        <form action="/subtask-created" method="post">
            <input type="hidden" name="id" th:value="${taskID}">
            <label>Title: <input name="title" required></label><br>
            <label>Estimated time: <input name="hours" type="number" min="0" required> hours <input name="minutes" type="number" min="0" max="59" required> minutes</label>
            <button type="submit">Save</button>
        </form>
        <a href="/task">
            <button>Cancel</button>
        </a>
    </th:block>
</th:block>
</body>
</html>