<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>Create Task</title>
</head>
<body>
<h1>New Task</h1>
<form action="/task-created" method="post">
    <input type="hidden" name="id" th:value="${subprojectID}">
    <label>Title: <input name="title" autofocus></label><br>
    <label>Deadline: <input name="deadline" type="datetime-local"></label>
    <button type="submit">Save</button>
</form>
<hr>
<a th:href="@{'/subproject/' + ${subproject}}"><button>Cancel</button></a>
</body>
</html>