<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title>Create project</title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1>Create project</h1>
        <form action="/project-created" method="post">
            <label>Title: <input name="title" autofocus></label><br>
            <button type="submit">Save new project</button>
        </form>
    <a href="/projects"><button>Return to projects</button></a>
    </th:block>
</th:block>
</body>
</html>