<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>

<h1 th:text="${project.title}"></h1>
<h2>Project</h2>
<p th:text="'Estimated time: ' + ${project.totalEstimatedHours} + ' hours.'"></p>
<table>
    <tr>
        <th>Subprojects</th>
        <th>Estimated time</th>
    </tr>
    <tr th:each="subproject : ${project.subprojects}">
        <td><a th:href="@{'/subproject/' + ${subproject.subprojectID}}" th:text="${subproject.title}"></a></td>
        <td th:text="${subproject.totalEstimatedHours} + ' hours'"></td>
    </tr>
</table>
<a th:href="@{'/project/' + ${project.projectID} + '/create-subproject'}"><button>New subproject</button></a>

</body>
</html>