<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css">
  <title>Portfolio</title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">
  <th:block th:fragment="content">
    <h1>Portfolio</h1>
    <p th:if="${projects.isEmpty}">No projects yet.</p>
    <div th:each="project : ${projects}">
      <p>&#128279; <a th:href="@{'/project/' + ${project.projectID}}" th:text="${project.title}"></a></p>
    </div>
    <a th:href="@{/create-project}"><button>New project</button></a>
  </th:block>
</th:block>
</body>
</html>