<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title>Subproject</title>
</head>
<body>

<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1 th:text="${subproject.title}"></h1>
        <table>
            <tr><td>Subproject progress</td><td><progress max="100" th:value="${subproject.percentageDone}"></progress></td></tr>
            <tr><td>Preliminary estimated time</td><td th:text="${subproject.formatEstimatedHours} + ' hours'"></td></tr>
            <tr><td>Spent time</td><td th:text="${subproject.formatSpentHours} + ' hours'"></td></tr>
            <tr><td>Spent CO2e</td><td th:text="${subproject.formatKgCO2e} + ' kg'"></td></tr>
        </table>
        <a th:href="@{'/subproject/' + ${subproject.subprojectID} + '/change-title'}">
            <button>Edit title</button>
        </a>
        <a th:href="@{'/subproject/' + ${subproject.subprojectID} + '/delete'}">
            <button>Delete this subproject</button>
        </a>
        <p th:if="${subproject.tasks.isEmpty}">No tasks yet.</p>
        <h2 th:unless="${subproject.tasks.isEmpty}">Tasks of this subproject</h2>
        <table th:unless="${subproject.tasks.isEmpty}">
            <tr>
                <th>Title</th>
                <th>Spent CO2e</th>
                <th colspan="2">Deadline</th>
                <th>Progress</th>
            </tr>
            <tr th:each="task : ${subproject.tasks}">
                <td>&#128279; <a th:href="@{'/task/' + ${task.taskID}}" th:text="${task.title}"></a></td>
                <td th:text="${task.formatKgCO2e} + ' kg'"></td>
                <td th:text="${passed} ? 'Passed' : ${task.date}"></td>
                <td th:text="${passed} ? '' : ${task.time}"></td>
                <td><progress max="100" th:value="${task.percentageDone}"></progress></td>
            </tr>
        </table>
        <a th:href="@{'/subproject/' + ${subproject.subprojectID} + '/create-task'}">
            <button>New task</button>
        </a>
        <a th:href="@{'/project/' + ${subproject.projectID}}">
            <button>Return to project</button>
        </a>
    </th:block>
</th:block>
</body>
</html>