<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subproject</title>
</head>
<body>

<h1 th:text="${subproject.title}"></h1>
<h2>Subproject</h2>
<a th:href="@{'/project/' + ${subproject.projectID} + '/subproject/' + ${subproject.subprojectID} + '/delete'}"><button>Delete subproject</button></a>
<p th:text="'Estimated time: ' + ${subproject.totalEstimatedHours} + ' hours.'"></p>
<table>
    <tr>
        <th>Tasks</th>
        <th>Deadline</th>
        <th>Estimated time</th>
    </tr>
    <tr th:each="task : ${subproject.tasks}">
        <td><a th:href="@{'/task/' + ${task.taskID}}" th:text="${task.title}"></a></td>
        <td th:text="${task.deadline}"></td>
        <td th:text="${task.totalEstimatedHours} + ' hours'"></td>
    </tr>
</table>
<a th:href="@{'/subproject/' + ${subproject.subprojectID} + '/create-task'}"><button>New task</button></a>
<a th:href="@{'/project/' + ${subproject.projectID}}"><button>Return to project</button></a>

</body>
</html>