<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
    <h1>Task Details</h1>
    <h2 th:text="${task.title}"></h2>
    <p>Deadline: <span th:text="${task.deadline}"></span></p>

    <h3>Subtasks</h3>
    <ul>
        <li th:each="subtask : ${task.subtasks}">
            <a th:href="@{'/subtask/' + ${subtask.subtaskID}}" th:text="${subtask.title}"></a> -
            <span th:text="${subtask.estimatedHours}"></span>
        </li>
    </ul>
    <a th:href="@{'/task/' + ${task_id} + '/create-subtask'}">
      <button>Create subtask</button>
  </a>

</body>
</html>