<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title>Move deadline</title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1>Move deadline</h1>
        <p th:text="'Task title: ' + ${task.title}"></p>
        <p th:if="${task.passed}">The deadline has passed. Select a new one or cancel.</p>
        <form action="/deadline-changed" method="post">
            <input type="hidden" name="id" th:value="${task.taskID}">
            <label>Deadline: <input name="deadline" type="datetime-local" th:min="${now}" th:value="${task.passed} ? ${now} : ${task.deadline}" required></label>
            <button type="submit">Save</button>
        </form>
        <a th:href="@{'/task/' + ${task.taskID}}">
            <button>Cancel</button>
        </a>
    </th:block>
</th:block>
</body>
</html>