<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title>Update Subtask</title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">

    <th:block th:fragment="content">
        <h1>Edit Subtask</h1>
        <form th:action="@{'/task/' + ${taskID} + '/update-subtask/' + ${subtaskID}}" method="post">
            <label>Title: <input name="title" autofocus></label><br>

            <label>Estimated time: <input name="estimated_time_hours" type="number"> hr
                <input name="estimated_time_minutes" type="number"> min</label><br>

            <label>Spent hours: <input name="spent_time_hours" type="number"> hr
                <input name="spent_time_minutes" type="number"> min </label>

            <label>CO2 Used: <input name="CO2e" type="number"> </label>

            <button type="submit">Save</button>
        </form>
        <hr>
        <a th:href="@{'/task/' + ${taskID}}">
            <button>Cancel</button>
        </a>
    </th:block>
</th:block>
</body>
</html>