<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title th:text="(${add} ? 'Add ' : 'Replace ') + ' CO2e'"></title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1 th:text="(${add} ? 'Add ' : 'Replace ') + 'CO2e ' + (${add} ? 'to ' : 'of ') + ${subtask.title}"></h1>
        <form action="/co2e-changed" method="post">
            <input type="hidden" name="id" th:value="${subtask.subtaskID}">
            <input type="hidden" name="add" th:value="${add}">
            <label th:if="${add}">Add CO2e: <input class="wide" name="CO2e" type="number" min="0" step="0.01" required> kg</label>
            <label th:unless="${add}">Edit CO2e: <input class="wide" name="CO2e" type="number" min="0" step="0.01" th:value="${subtask.kgCO2e}" required> kg</label>
            <button type="submit">Save</button>
        </form>
        <a th:href="@{'/subtask/' + ${subtask.subtaskID}}">
            <button>Cancel</button>
        </a>
    </th:block>
</th:block>
</body>
</html>
