<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title>Update task</title>

</head>
<body>
<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1>Update task</h1>
        <form th:action="@{'/subproject/' + ${subprojectID} + '/update-task/' + ${taskID}}" method="post">
            <label>Title: <input name="title" autofocus></label><br>
            <label>Deadline: <input name="deadline" type="datetime-local"></label>
            <button type="submit">Save</button>
        </form>
        <hr>
        <a th:href="@{'/subproject/' + ${subprojectID}}">
            <button>Cancel</button>
        </a>
        <hr>
        <form th:action="@{'/subproject/' + ${subprojectID} + '/delete-task/' + ${taskID}}" method="post">
            <label>Confirm deletion: <input type="checkbox" name="confirm"></label><br>
            <button type="submit">Delete task</button>
        </form>
    </th:block>
</th:block>
</body>
</html>