<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css">
    <title th:text="(${add} ? 'Add ' : 'Replace ') + (${estimated} ? 'estimated' : 'spent') + ' time'"></title>
</head>
<body>
<th:block th:replace="~{darkmode :: base}">
    <th:block th:fragment="content">
        <h1 th:text="(${add} ? 'Add ' : 'Replace ') + (${estimated} ? 'estimated' : 'spent') + ' time ' + (${add} ? 'to ' : 'of ') + ${subtask.title}"></h1>
        <p th:unless="${add}" th:text="'Old time: ' + (${estimated} ? ${subtask.formatEstimatedHours} : ${subtask.formatSpentHours}) + ' hours'"></p>
        <form action="/time-changed" method="post">
            <input type="hidden" name="id" th:value="${subtask.subtaskID}">
            <input type="hidden" name="estimated" th:value="${estimated}">
            <input type="hidden" name="add" th:value="${add}">
            <label th:if="${add}">Add time: <input name="hours" type="number" min="0" required> hours <input name="minutes" type="number" min="0" max="59" required> minutes</label>
            <label th:unless="${add}">New time: <input name="hours" type="number" min="0" required> hours <input name="minutes" type="number" min="0" max="59" required> minutes</label>
            <button type="submit">Save</button>
        </form>
        <a th:href="@{'/subtask/' + ${subtask.subtaskID}}">
            <button>Cancel</button>
        </a>
    </th:block>
</th:block>
</body>
</html>